<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{title}}</title>
    <link>http://www.youtube.com/channel/{{channel}}</link>
    <description>RSS Feed for {{title}}</description>
    <lastBuildDate>{{date}}</lastBuildDate>
    <language>en-us</language>

    {{#each rss}}
      <item>
        <title>{{title}}</title>
        <link>http://www.youtube.com/watch?v={{videoId}}</link>
        <guid>http://www.youtube.com/watch?v={{videoId}}</guid>
        <pubDate>{{date}}</pubDate>
        <description>
          <![CDATA[ {{description}} ]]>
        </description>
      </item>
    {{/each}}
  </channel>
</rss>
